[Unit]
Description=Tesla StatusBot Telegram Service
After=network.target

[Service]
User=jacob
WorkingDirectory=/home/jacob/tesla-tracker
ExecStart=/home/jacob/tesla-tracker/venv/bin/python3 /home/jacob/tesla-tracker/statusbot.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
